{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        	<div class="alert alert-danger" role="alert">
	            {% for error in errors %}
	                {{ error.message }}
	            {% endfor %}
	        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}